@import "colors";

h1 {
  &.cardboard {
    font-family: 'adelle-sans';
    font-weight: 400;
    transition: all 0.3s ease;
    float: left;
    font-weight: bold;
    padding: rem-calc(0);
    line-height: rem-calc(60);

    span {
      transition: all 0.3s ease;
      position: relative;
      color: $color-white;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &.purple {
        color: $color-purple-dark;
      }
      &.yellow {
        color: $color-yellow-dark;
      }
      &.orange {
        color: $color-orange-dark;
      }
      &.red {
        color: $color-red-dark;
      }
      &.cyan {
        color: $color-cyan-dark;
      }
      &.green {
        color: $color-green-dark;
      }
      &.blue {
        color: $color-blue-dark;
      }
    }
  }
}

a:hover h1.cardboard span {
  color: $black;
}

a:active h1.cardboard {
  color: $black;
}
