@import "settings";

$fa-font-path: "/fonts";
$inter-font-path: "/fonts";
$global-flexbox: true;

// Foundation
@import "foundation";

// @include foundation-accordion-menu;
// @include foundation-accordion;
// @include foundation-flex-video;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-progress-bar;
// @include foundation-reveal;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-switch;
// @include foundation-tabs;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-button;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;
@include foundation-dropdown;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-forms;
@include foundation-global-styles;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-pagination;
@include foundation-table;
@include foundation-thumbnail;
@include foundation-typography;
@include foundation-visibility-classes;

@include foundation-xy-grid-classes;

@import "font-awesome";

@import "colors";

@import "components/leaderboard";
@import "components/menu";
@import "components/logo";
@import "components/leader";
@import "layout/footer";
@import "layout/masonry";
@import "typography/code";
@import "typography/headers";
@import "typography/inter-ui";

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-body {
  flex-grow: 1;
}

div#header {
  padding-top: rem-calc(45);
  padding-bottom: rem-calc(30);
  border-bottom: 2px $medium-gray;
}

div#footer {
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(30);
}

div.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
}

div.post {
  margin-bottom: rem-calc(50);
}

div.callout-quote {
  font-weight: bold;
  font-style: italic;
  font-size: 120%;

  max-width: rem-calc(400);

  margin-left: auto;
  margin-right: auto;
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(15);
}

figcaption {
  text-align: left;
  text-transform: uppercase;
  margin-top: 1rem;
  font-style: normal;
  color: #666;

  &::before {
    content: "fig. ";
  }
}

.wf-loading h1,
.wf-loading p {
  visibility: hidden;
}

.inline-block {
  display: inline-block;
}

figure {
  text-align: center;
  margin-bottom: 1.5rem;
}

.markdown-icon {
  width: 30px;
  margin-right: 5px;
  vertical-align: sub;
}

.left-icon {
  margin-right: 8px;
}

.sidebar-text {
  font-size: 0.8rem;
}

