<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    $if(title)$
    <title>Chromabits - $title$</title>
    $else$
    <title>Chromabits</title>
    $endif$
    <link rel="stylesheet" type="text/css" href="/css/app.css" />

    <meta property="fb:admins" content="etcinit"/>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=332765426823646";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div>
    <div class="grid-container">
      <div id="header" class="grid-x grid-margin-x align-middle">
        <div class="medium-6 small-12 cell text-center text-left-medium">
          <div class="grid-x show-for-medium">
            <div><a href="/" id="logo"><div></div></a></div>
            <div id="logo-text"><b>CHROMABITS</b></div>
          </div>

          <div class="show-for-small-only">
            <div><a href="/" id="logo"><div></div></a></div>
          </div>
        </div>

        <div class="medium-6 small-12 cell text-center text-left-medium">
          <ul class="menu align-right show-for-medium">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/archive">Archive</a></li>
          </ul>
          <ul class="menu inline-block show-for-small-only">
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/archive">Archive</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>

    <div class="content-body">
      <div class="grid-container">
        <div class="grid-x">
          <div class="small-12 cell">
            $body$
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="cell medium-6">
            <div><b>CHROMABITS</b></div>
            <div>
              <small>Copyright © 2015-2017 - Eduardo Trujillo</small>
            </div>
            <small>
              Except where otherwise noted, content on this site is licensed
              under a Attribution-NonCommercial-ShareAlike 4.0 International
              (CC BY-NC-SA 4.0) license.
            </small>
          </div>
          <div class="cell medium-2">
            <ul class="menu vertical">
              <li><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/projects">PROJECTS</a></li>
              <li><a href="/archive">ARCHIVE</a></li>
            </ul>
          </div>
          <div class="cell medium-2">
            <ul class="menu">
              <li>
                <a href="https://fb.com/etcinit">
                  <i class="fa fa-facebook-official"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/etcinit">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/etrujillo">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="cell auto text-right">
            <small>
              Site proudly generated using
              <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            </small>
          </div>
        </div>
      </div>
    </div>

    <script async type="text/javascript"
        src="/js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </body>
</html>
