<div class="grid-x">
  <div class="auto cell">
    <a href="$url$"><h5>$title$</h5></a>
  </div>
  <div class="medium-4 cell">
    <div class="grid-x align-right">
      <span class="success label">$platform$</span>
    </div>
  </div>
</div>

$body$

<div class="grid-x">
  <div class="cell">
    $if(github)$
      <a href="https://github.com/$github$">
        <i class="fa fa-github"></i>
      </a>
      &nbsp;
    $endif$
    $if(docs)$
      <a href="$docs$"><i class="fa fa-book"></i></a>&nbsp;
    $endif$
    $if(sourcegraph)$
      <a href="$sourcegraph$"><i class="fa fa-asterisk"></i></a>&nbsp;
    $endif$
    $if(post)$
      <a href="$post$"><i class="fa fa-file-text-o"></i></a>&nbsp;
    $endif$
    $if(dockerhub)$
      <a href="https://hub.docker.com/$dockerhub$">
        <i class="fa fa-ship"></i>
      </a>
      &nbsp;
    $endif$
    $if(quay)$
      <a href="https://quay.io/$quay$"><i class="fa fa-ship"></i></a>&nbsp;
    $endif$
  </div>
</div>
