<h6><i class="fa fa-twitter left-icon"></i>Twitter</h6>
<p class="sidebar-text">Follow <a href="https://twitter.com/etcinit">@etcinit</a> for more frequent updates and memes.</p>
<a class="twitter-timeline" href="https://twitter.com/etcinit"
  data-widget-id="425193289201881088"
  data-chrome="noheader nofooter noscrollbar">
    <i class="fa fa-refresh fa-spin left-icon"></i>Mind the gap...
</a>
<script>
  !function(d,s,id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];

    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.async = true;
      js.src = "https://platform.twitter.com/widgets.js";

      fjs.parentNode.insertBefore(js,fjs);
    }
  }(document, "script", "twitter-wjs");
</script>
